---
---

@import "{{ site.theme }}";

@media screen and (min-width: 64em){
    .main-content{
        max-width:84rem;
    }
}

section.page-header { padding: 10px; }
section.page-header > a { display: none; }

details {
    padding-left: 15px;
}

details > summary {
    margin-bottom: 10px;
    margin-left: -15px;
}

details > summary > p {
    margin: 0 0 0 15px;
    font-style: italic;
}